.card {
    display: grid !important;
   
    width: 250px;
    height: auto;
    background: gray;
    border-radius: 10px;
    border: blue 1px solid;
    margin: 10px 10px;
    align-content: stretch;
    justify-content: space-evenly;
    }
    

h3{
    display: flex;
    justify-content: center;
}


p{
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
}


.btn-primary{
    display: block;
    margin: 10px auto;
}

.card--img{
    width: 150px;
    height: 180px;
}