.Content-primary{
    background-color:#131212;
    
}

.footer-section {
    text-align: center; /* Centra el contenido */
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-form {
   
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos en el eje transversal (horizontal) */
    max-width: 300px; /* O el ancho máximo que prefieras para tu formulario */
     /* Centra el formulario en la sección */
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 200%; /* Hace que los elementos del formulario ocupen todo el ancho del contenedor */
    margin-bottom: 1rem; /* Espacio entre los campos del formulario */
  }
  
  .contact-form button {
    padding: 10px 20px; /* Agrega padding para un mejor aspecto */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Remueve el borde del botón */
    cursor: pointer; /* Cambia el cursor a pointer para indicar clickeabilidad */
  }
  
  .contact-form button:hover {
    background-color: #45a049; /* Oscurece el botón al pasar el ratón por encima para interactividad */
  }
  
  .h5{
    margin-top: 20px;
    }


  .footer-content{
    display: flex;
    align-content: stretch;
    justify-content: space-around;
  }
  
  .instagram-icon{
    background-color: #131212;
    border:#131212;
  }

  .twiter-icon{
    background-color: #131212;
    border:#131212;
  }

  .facebook-icon{
    background-color: #131212;
    border:#131212;
  }